.item-list {
  width: 100%;
  float: left;

  &__item {
    width: calc(25% - 16px);
    height: 210px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .item-list {
    &__item {
      width: calc(50% - 16px);

      &:nth-child(2n + 2) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .item-list {
    &__item {
      width: 100%;
      margin-right: 0;
    }
  }
}
